*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    line-height: 1.8em;
}
.pingl1{
    background: url("nature-3082832_1920.jpg");
   min-height: 100%;
  
}
.pingl2{
    background: url("ocean-2203720_1280.jpg");
   min-height: 400px;
  
}
.pingl3{
    background: url("portrait-4599553_1280.jpg");
   min-height: 400px;
  
}
.pingl1,.pingl2,.pingl3{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.ptxt{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    letter-spacing: 8px;
    text-transform: uppercase;

}
span{
    background-color: rgb(2, 7, 11);
    color: aliceblue;
    font-size: 24px;
    padding: 12px;
}
.bg{
    background-color: #e7ecf2;
    margin-top: 20px;
}

.section{
   max-width: 1200px ;
   margin: 0 auto;
   
}
.align{
    text-align: center;
    height: 2rem;
    
}
.section-left{
color: #666;
}